.purple {
    background-color: rgb(159, 94, 219);
    display: flex;
    justify-content: center;
    padding: 30px;

}

.blue {
    background-color: rgb(87, 87, 214);
    padding: 20px;
    margin: 30px;
}

.yo {
    background-color: rgb(255, 253, 118);
    padding: 20px;
    margin: 10px;
}

.flex {
    display: flex;
    
}

.red {
    background-color: rgb(231, 224, 118);
    padding-right: 80px;
}

.green {
    background-color: rgb(242, 250, 133);
    padding-bottom: 80px;
}
